body {
    display: grid;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 10fr 1fr;
}
main {
    padding: 0 2% 0 2%;
}

article {
    grid-column: 2 / 3;
    max-width: 1000px;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 150px 1fr auto;
    padding: 0 0 20px 0;
    margin-top: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(245, 201, 144, 0.767);
    box-shadow: 0 1px 10px 0 rgb(10, 10, 10);
    border: solid 1px rgba(14, 12, 12, 0.76);
    border-radius: 10px;
}

header {
    background-color: rgba(226, 193, 149, 0.945);
    text-align: center;
    height: 100%;
}
header h1 {
    padding-top: 20px;
    font-size: 2.5em;
}
h4 {
    margin: 3% 2%;
}
h3 {
    margin: 3% 2%;
}
p {
    margin: 2% 1%;
    font-size: 16px;
}

#curriculumContainer {
    border: solid 2px black;
    border-radius: 8px;
}
#curriculumCards {
    display: flex;
    overflow-x: auto;
    margin: 0 25px;
    padding: 20px;
    justify-content: space-between;
}
.curriculumCard {
    max-width: 250px;
    min-width: 150px;
    padding: 0 2%;
}