body {
    margin: 0 auto;
    padding: 0;
    background-color: rgb(241, 219, 190);
    width: 96%;
    overflow-x: hidden;
}
article {
    display: grid;
    grid-template-rows: 100px 50px auto;
    padding: 0 0 20px 0;
    margin-top: 0;
    align-items: normal;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr;
}
#navBar {
    margin: 0;
    padding: 10px 0;
    background-color: rgb(241, 219, 190);
    justify-self: left;
}
#navBar ul {
    padding: 0;
    margin: 0;
}
header {
    background-color: rgb(223, 195, 159);
    text-align: left;
    height: 100%;
    position: sticky;
    top: 8px;
    z-index: 10;
    box-shadow: 0 1px 10px 0 rgb(10, 10, 10);
    border: solid 1px rgba(14, 12, 12, 0.76);
    border-radius: 10px;
}
header h1 {
    padding: 20px;
    font-size: 2.5em;
}
@media screen and (max-width: 600px) {
    header h1 {
        font-size: 1.8em;
        padding: 35px 10px;
    }
}
@media screen and (max-width: 400px) {
    header h1 {
        font-size: 1.4em;
        padding: 40px 10px;
}}
main {
    box-shadow: 0 1px 10px 0 rgb(10, 10, 10);
    border: solid 1px rgba(14, 12, 12, 0.76);
    border-radius: 10px;
    background-color: rgba(245, 201, 144, 0.767);
    padding: 0 2% 0 2%;
}

h4 {
    margin: 1% 1%;
}
h3 {
    margin: 3% 2%;
}
p {
    margin: 2% 1%;
    font-size: 16px;
}

#aboutContainer {
    border: solid 2px black;
    border-radius: 8px;
    margin: 10px 0;
}
#aboutContainer h2 {
    font-size: 2em;
    font-weight: bold;
}

#curriculumContainer {
    border: solid 2px black;
    border-radius: 8px;
    display: none;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
}
#curriculumCardContainer {
    justify-self: center;
    display: grid;
    align-items: center;
    justify-content: center;
}
#curriculumCards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 25px;
    padding: 20px;
    justify-content: center;
}
.curriculumCard {
    max-width: 250px;
    min-width: 150px;
    padding: 0 2%;
}

#financialsContainer {
    display: none;
    border: solid 2px black;
    border-radius: 8px;
    margin: 10px 0;
}

button {
    width: 180px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: rgba(108, 108, 123, 0.9);
}
#homeButton {
    width: 100px;
}
@media screen and (max-width: 600px) {
    button {
        font-size: 14px;
        width: 150px;
    }
    #curriculumButton {
        width: 120px;
    }
    #homeButton {
        width: 75px;
    }
}
@media screen and (max-width: 400px) {
    article {
        grid-template-rows: 100px 120px auto;
    }
    button {
        text-align: left;
    }
    #homeButton {
        width: 100%;
    }
    #curriculumButton {
        width: 100%;
    }
    #financialButton {
        width: 100%;
    }
}