:root {
    --backBubble: rgba(9, 110, 45, 0.587);
    --frontBubble: rgba(209, 218, 209, 0.724);
    --altBackBubble: rgb(221, 238, 229);
}


body {
    margin: 0 auto;
    padding: 0;
    background-color: mintcream;
    width: 96%;
    overflow-x: hidden;
}
article {
    display: grid;
    grid-template-rows: 80px auto;
    padding: 0 0 20px 0;
    margin-top: 0;
    align-items: normal;
    justify-content: center;
    text-align: center;
    grid-template-columns: 1fr;
    gap: 20px;
}
hr {
    width: 80%;
}
#navBar {
    display: none;
    margin: 0;
    padding: 15px 0 10px 0;
    background-color: rgb(241, 219, 190);
    justify-self: left;
}
#navBar ul {
    padding: 0;
    margin: 0;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: start;
    background-color: var(--frontBubble);
    text-align: left;
    height: 100%;
    z-index: 10;
    box-shadow: 0 1px 10px 0 rgb(10, 10, 10);
    border: solid 1px rgba(14, 12, 12, 0.76);
    border-radius: 10px;
    margin: 10px 0;
}
header h1 {
    padding: 0;
    margin: 0 0 0 10%;
    font-size: 2.5em;
}
@media screen and (max-width: 600px) {
    header h1 {
        font-size: 1.8em;
        padding: 35px 10px;
    }
    #navBar {
        padding: 20px 0 10px 0;
    }
}
@media screen and (max-width: 400px) {
    header h1 {
        font-size: 1.6em;
        padding: 0;
    }
    #navBar {
        padding: 10px 0 5px 0;
    }
}
main {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 10px 0 rgb(10, 10, 10);
    border: solid 1px rgba(14, 12, 12, 0.76);
    border-radius: 10px;
    background-color: var(--backBubble);
    padding: 0 1% 0 1%;
}

h4 {
    margin: 1% 1%;
}
h3 {
    margin: 3% 2%;
}
p {
    margin: 2% 1%;
    font-size: 16px;
}

#aboutContainer {
    border: solid 2px black;
    border-radius: 8px;
    margin: 10px 0;
    background-color: var(--frontBubble);
}
#aboutContainer h2 {
    font-size: 2em;
    font-weight: bold;
}

#curriculumContainer {
    border: solid 2px black;
    border-radius: 8px;
    display: inline-block;
    margin: 10px 0;
    justify-content: center;
    align-items: center;
    background-color: var(--frontBubble);
}
#curriculumCardContainer {
    justify-self: center;
    display: none; /*grid*/
    align-items: center;
    justify-content: center;
}
#curriculumCards {
    display: flex;
    flex-wrap: wrap;
    margin: 0 25px;
    padding: 20px;
    justify-content: center;
}
.curriculumCard {
    max-width: 250px;
    min-width: 150px;
    padding: 0 2%;
}

#operatingHoursContainer {
    background-color: var(--altBackBubble);
    border: solid 2px silver;
    border-radius: 8px;
    width: 90%;
    margin: 12px auto;
    padding: 2px 0 4px 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#financialsContainer {
    display: none;
    border: solid 2px black;
    border-radius: 8px;
    margin: 10px 0;
    background-color: rgba(248, 221, 187, 0.767);
}

button {
    width: 180px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    color: rgba(108, 108, 123, 0.9);
    white-space: nowrap;
}
#homeButton {
    width: 100px;
}
@media screen and (max-width: 600px) {
    button {
        font-size: 14px;
        width: 150px;
    }
    #curriculumButton {
        width: 120px;
    }
    #homeButton {
        width: 75px;
    }
}
@media screen and (max-width: 400px) {
    article {
        grid-template-rows: 80px auto;
    }
    button {
        text-align: left;
    }
    #homeButton {
        width: 100%;
    }
    #curriculumButton {
        width: 100%;
    }
    #financialButton {
        width: 100%;
    }
}